<nav class="menubar" id="admin-menubar">
  <ul>
    <%= menu_link_to "管理ログイン", :admin_root unless current_member %>
    <%= menu_link_to "A", "#" %>
    <%= menu_link_to "B", "#" %>
    <%= menu_link_to "C", "#" %>
  </ul>
</nav>
